.mini-data {
  background-color:#ff8577;
  height: 15vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mini-data img {
  margin-right: 30px;
}
.mini-data h1 {
  font-size: 50px;
}
.mini-data h3 {
  font-size: 20px;
  font-weight: 500;
}
/* .homeAbout{
  background-color: #ff8577;
} */
@media screen and (max-width: 768px) {
  .mini-data {
    height: 30vh;
    display: flex;
    flex-direction: column;
   }
   .mini-data .box {
    padding: 10px 0;
  }
  .mini-data h1 {
    font-size: 40px;
  }
}