.between-home-sec{
    height: 50vh;
}
.hprice-padding{
    padding-top: 0;
}
.homemarginbottom{
    height: 40px;
    /* background-color: #ff8577; */
}
@media screen and (max-width: 768px) {
    .between-home-sec{
        display: none;
    }
}